@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px


Bootstrap breakpoints:
----------------------

xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px

******************************/

/************
1. 2100px
************/
@media only screen and (max-width: 2200px)
{
    .nav_container
    {
        max-width: 100%;
        padding-left: 374px;
    }
}

/************
1. 1920px+
************/
@media only screen and (min-width: 1921px)
{
    
}

@media only screen and (max-width: 1920px)
{
    .home_container
    {
        max-width: 1140px;
    }
    .home_image_container
    {
        width: 480px;
        height: 480px;
    }
    .home_image
    {
        border-top-left-radius: 200px;
        border-bottom-right-radius: 200px;
    }
    .home_social
    {
        max-width: 1140px;
    }
}

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
    h1
    {
        font-size: 48px;
    }
    .logo
    {
        padding-bottom: 8px;
    }
    .nav_container
    {
        padding-left: 352px;
    }
    .home_content
    {
        width: 657px;
    }
    .home_content p
    {
        font-size: 16px;
        margin-top: 26px;
        max-width: 470px;
    }
    .home_inner
    {
        padding-left: 72px;
    }
    .home_container
    {
        width: 100%;
    }
    .home_image_container
    {
        width: 480px;
        height: 480px;
        margin-right: 52px;
    }
    .home_image_container .home_image
    {
        
        border-top-left-radius: 180px;
        border-bottom-right-radius: 180px;
    }
    .home_social
    {
        max-width: 100%;
        padding-left: 72px;
    }
}

/************
1. 1440px
************/

@media only screen and (max-width: 1440px)
{
    
}

/************
2. 1440px
************/

@media only screen and (min-width: 1400px)
{
	.container
    {
        max-width: 1140px !important;
    }
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
    .header
    {
        height: 126px;
    }
    .header_layer_one
    {
        border-top-right-radius: 30px;
    }
    .header_layer_left
    {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .header_layer_left_inner
    {
        width: 272px;
        border-radius: 30px;
    }
    .header_layer_right
    {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .header_logo_container
    {
        width: 272px;
    }
    .logo
    {
        left: 32px;
    }
    .header_right_side
    {
        padding-right: 24px;
    }
    .search_group_container
    {
        right: 134px;
        top: 121px;
    }
    .home
    {
        padding-top: 126px;
        height: 808px;
    }
    .home_inner
    {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .home_container
    {
        margin-top: -74px;
    }
    .nav_container
    {
        display: none !important;
    }
    .burger_container
    {
        display: flex !important;
    }
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
    h1
    {
        font-size: 40px;
    }
    .home
    {
        height: 800px;
    }
    .home_content
    {
        width: 555px;
    }
    .home_image_container
    {
        width: 360px;
        height: 360px;
        margin-right: 30px;
    }
	.home_image_container .home_image
    {
        border-top-left-radius: 140px;
        border-bottom-right-radius: 140px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    .home_badge
    {
        width: 128px;
        height: 128px;
    }
    .home_badge_content > div:first-of-type
    {
        font-size: 24px;
    }
    .home_badge_content > div:last-of-type
    {
        font-size: 16px;
        margin-top: -5px;
    }
    .home_container
    {
        margin-top: -74px;
    }
    .home_content p
    {
        margin-top: 21px;
    }
    .home_buttons
    {
        margin-top: 28px;
    }
    .card_3_article
    {
        height: 441px;
    }
    .card_3_article, .card_3_image_container
    {
        border-top-left-radius: 130px;
    }
    .card_3_image_container
    {
        border-bottom-right-radius: 130px;
    }
    .card_3_title a h4
    {
        font-size: 20px;
    }
    .episode_play_btn
    {
        top: 227px;
        right: 16px;
    }
    .text_rside_container
    {
        padding-left: 40px;
    }
    .howitworks_img_container
    {
        height: 340px;
    }
    .subscribe_input
    {
        width: calc(100% - 159px);
    }
    .subscribe_button
    {
        width: 159px;
    }
    .testimonials_users
    {
        padding-right: 56px;
    }
    .footer_content
    {
        max-width: 960px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	.home_inner
    {
        padding-left: 60px;
        padding-right: 32px;
    }
    .home_image_container
    {
        margin-right: 0;
    }
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
    h2
    {
        font-size: 44px;
    }
    h4
    {
        font-size: 20px;
    }
    .header
    {
        height: 106px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .header_layers
    {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .header_layer_one
    {
        border-top-right-radius: 20px;
    }
    .header_layer_left
    {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .header_layer_left_inner
    {
        border-radius: 20px;
    }
    .header_layer_right
    {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .search_group_container
    {
        right: 114px;
        top: 101px;
    }
    .home
    {
        padding: 20px;
        padding-top: 106px;
    }
    .home_inner
    {
        padding-left: 40px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .home_social
    {
        padding-left: 40px;
    }
    .section_title p
    {
        font-size: 17px;
        margin-top: 10px;
    }
    .card_3_article
    {
        height: auto;
    }
    .episode_details
    {
        margin-top: 14px;
    }
    .episode_date, .episode_category
    {
        font-size: 13px;
    }
    .latest_episode_title
    {
        margin-top: 5px;
    }
    .latest_episode_title a h4
    {
        font-size: 22px;
    }
    .button
    {
        height: 64px;
    }
    .button a span span
    {
        font-size: 14px;
    }
    .button svg
    {
        width: 22px;
        height: 22px;
        margin-bottom: 2px;
    }
    .button a > span
    {
        padding-left: 33px;
        padding-right: 30px;
    }
    .button a span span
    {
        line-height: 56px;
    }
    .button_color a span span
    {
        line-height: 60px;
    }
    .latest_episodes_container > article
    {
        width: calc((100% - 30px) / 2);
        height: 483px;
    }
    .episode_play_btn
    {
        top: 266px;
    }
    .two_column_layout_container > article
    {
        width: 100%;
    }
    .subscribe_content h2 img
    {
        width: 53px;
        height: 53px;
    }
    .text_rside_container
    {
        padding-left: 0;
    }
    .howitworks_media_outer
    {
        padding-right: 0;
        margin-top: 36px;
    }
    .howitworks_img_container
    {
        height: 458px;
    }
    .text_rside_container .section_title h2, .text_rside_container .section_title p, .howitworks_subtitle
    {
        text-align: center;
    }
    .howitworks_item
    {
        width: 100%;
        height: auto;
    }
    .howitworks_item_text
    {
        opacity: 1;
        padding-top: 16px;
        padding-bottom: 28px;
        -webkit-transform: translateY(0px) !important;
        -moz-transform: translateY(0px) !important;
        -ms-transform: translateY(0px) !important;
        -o-transform: translateY(0px) !important;
        transform: translateY(0px) !important;
    }
    .howitworks_btn_1
    {
        display: none;
    }
    .howitworks_btn_2
    {
        display: block;
    }
    .howitworks_items_container
    {
        margin-top: 43px;
    }
    .subscribe
    {
        margin-top: 104px;
    }
    .subscribe_content
    {
        width: 100%;
        height: auto;
        padding-top: 80px;
        padding-bottom: 79px;
    }
    .subscribe_pic_container
    {
        display: none;
    }
    .stats_section_container
    {
        margin-top: 37px;
    }
    .testimonials_users
    {
        display: none !important;
    }
    .test_user
    {
        display: flex !important;
    }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
    .home_image_container
    {
        width: 280px;
        height: 280px;
    }
    .home_image_container .home_image
    {
        border-top-left-radius: 90px;
        border-bottom-right-radius: 90px;
    }
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
    .section_title h2
    {
        font-size: 40px;
    }
    .header
    {
        height: 95px;
        padding-top: 16px;
        padding-left: 4px;
        padding-right: 8px;
    }
    .header.scrolled
    {
        height: 72px;
    }
    .header_layer_one, .header_layer_left, .header_layer_left_inner, .header_layer_right
    {
        background-color: transparent;
    }
    .notifs, .donate, .header_inner
    {
        display: none !important;
    }
    .header_search
    {
        background: transparent;
    }
    .header_search .btn_base
    {
        background: transparent;
    }
    .header_search .btn_extra
    {
        border: none;
        background: -webkit-linear-gradient(310deg, #6a38c3, #8a4ef0);
    }
    .header_logo_container_outer
    {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .header_logo_container
    {
        width: 78px;
    }
    .logo
    {
        left: auto;
        padding-bottom: 0;
    }
	.logo div
    {
        display: none !important;
    }
    .latest_episodes_container > article
    {
        width: calc((100% - 20px) / 2);
    }
    .card_3_article, .card_3_image_container
    {
        border-top-left-radius: 90px;
    }
    .card_3_image_container
    {
        border-bottom-right-radius: 26px;
    }
    .card_content_container
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .card_3_title a h4
    {
        font-size: 20px;
    }
    .latest_episodes_container > article
    {
        height: auto;
    }
    .cta1_logo_container .logo span
    {
        display: block !important;
    }
    .header_right_side
    {
        width: 100%;
        padding-left: 8px;
    }
    .burger_container
    {
        margin-left: auto;
    }
    .search_group_container
    {
        width: calc(100% - 64px);
        right: 32px;
        top: 101px;
    }
    .card_2_content a h4
    {
        line-height: 1.25;
    }
    .player_fixed_container,
    .player_fixed_container.minimized
    {
        bottom: -96px;
    }
    .single_player
    {
        height: 96px;
    }
    .file_info_container
    {
        display: none !important;
    }
    .time_controls
    {
        width: calc(100% - 52px);
        flex-basis: calc(100% - 52px);
        flex-grow: 0;
        flex-shrink: 0;
    }
    .jp-play
    {
        margin-top: 8px;
    }
    .jp-volume-controls
    {
        margin-top: 17px;
        margin-left: 8px;
    }
    .player_fixed_inner
    {
        padding-left: 8px;
        padding-right: 8px;
    }
    .time_controls_container
    {
        flex-wrap: wrap;
    }
    .jp-current-time, .jp-duration
    {
        width: 50%;
        flex-basis: 50%;
        font-size: 12px;
    }
    .jp-current-time
    {
        margin-right: 0;
        order: 1 !important;
    }
    .jp-duration
    {
        margin-right: 0;
        margin-left: 0;
        text-align: right;
        order: 2 !important;
    }
    .jp-progress
    {
        order: 3 !important;
    }
    .time_controls > div:last-child
    {
        width: calc(100% - 52px);
        flex-basis: calc(100% - 52px);
    }
    #jplayer_1
    {
        display: none;
    }
    .home
    {
        height: auto;
        padding: 16px;
    }
    .home_inner
    {
        border-top-right-radius: 20px;
        background-color: transparent;
    }
    .home_inner
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    .home_container
    {
        width: 100%;
        height: 100%;
        margin-top: 0;
        padding-top: 120px;
    }
	.home_content
    {
        width: 100%;
        padding-left: 8px;
        padding-right: 16px;
    }
    .home_content h1
    {
        line-height: 1.375;
        max-width: 500px;
    }
    .home_content p
    {
        margin-top: 17px;
        max-width: 100%;
    }
    .home_image_container
    {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        height: calc((100vw - 32px) / 1.1821);
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        margin-top: 49px;
    }
    .home_image_container .home_image
    {
        border: none;
        border-radius: 26px;
        border-top-left-radius: 150px;
        border-bottom-right-radius: 150px;
        object-fit: cover;
    }
    .home_image_container .home_image img
    {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .home_badge
    {
        right: 32px;
        bottom: 32px;
    }
    .home_social_container
    {
        display: none !important;
        height: 76px;
    }
    .home_social
    {
        padding-left: 0px;
    }
    .home_social_list span
    {
        display: none !important;
    }
    .home_social .social_list
    {
        justify-content: center !important;
    }
    .menu
    {
        width: 362px;
        padding-left: 20px;
    }
    .menu_nav
    {
        margin-top: 19px;
    }
    .menu_nav .nav_content
    {
        flex-direction: column !important;
        align-items: start !important;
        justify-content: start !important;
    }
    .menu_nav ul li:not(:last-child)
    {
        margin-right: 0;
    }
    .menu_nav ul li
    {
        display: block;
        width: 100%;
        height: 46px;
        border-bottom: solid 1px rgba(255,255,255,0.07);
    }
    .menu_nav ul li:first-child
    {
        border-top: solid 1px rgba(255,255,255,0.07);
    }
    .menu_nav ul li a
    {
        display: block;
        position: relative;
        height: 100%;
        box-sizing: border-box;
        line-height: 44px;
    }
    .menu_nav ul li a:hover
    {
        padding-left: 4px;
    }
    .episode_details
    {
        justify-content: center;
    }
    .page_section h2 img
    {
        height: 45px;
        margin-left: 16px;
        margin-top: -22px;
    }
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
    .howitworks_img_container
    {
        height: 340px;
    }
    .episode_play_btn
    {
        top: 184px;
    }
    .subscribe_content
    {
        padding-left: 36px;
        padding-right: 36px;
    }
    .subscribe_content h2
    {
        font-size: 36px;
        text-align: left;
    }
    .subscribe_input
    {
        width: calc(100% - 136px);
    }
    .subscribe_button
    {
        width: 136px;
    }
    .stats_half_container
    {
        padding-left: 32px;
        padding-right: 32px;
    }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
    .section_title
    {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
    .section_title_left
    {
        width: 100%;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }
    .section_title h2
    {
        font-size: 28px;
    }
    .container
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .row
    {
        margin-left: -16px;
        margin-right: -16px;
    }
    .container .col
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header
    {
        padding-left: 3px;
        padding-right: 4px;
    }
    .menu
    {
        width: 100%;
        border-radius: 0px;
        border: none;
    }
    .search_group_container
    {
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding-top: 101px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
    }
    h1
    {
        font-size: 36px;
        line-height: 1.25;
    }
    h2
    {
        font-size: 32px;
        line-height: 1.45;
    }
    h4
    {
        font-size: 20px;
    }
    .header
    {
        height: 78px;
    }
    .section_title_left
    {
        padding-left: 8px;
    }
    .section_title p
    {
        display: none;
        font-size: 17px;
        margin-top: 10px;
    }
    .home
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .home_content
    {
        padding-left: 8px;
    }
    .home_content h1
    {
        max-width: 470px;
    }
    .home_buttons
    {
        position: absolute;
        left: 24px;
        bottom: 12px;
        z-index: 10;
    }
    .home_badge
    {
        display: none !important;
    }
    .home_content p:first-of-type
    {
        display: none !important;
    }
    .home_content p:not(:first-of-type)
    {
        display: inline-block !important;
        margin-top: 8px;
    }
    .home_image_container
    {
        margin-top: 36px;
    }
    .home_btn:first-child
    {
        display: none !important;
    }
    .page_section h2 img
    {
        height: 37px;
        margin-left: 14px;
        margin-top: -19px;
    }
    .episode_play_btn .btn_base
    {
        height: 52px !important;
    }
    .platforms h2
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .latest_episodes_container
    {
        margin-top: 22px;
    }
    .short_link
    {
        display: block;
    }
    .top_episode_content
    {
        padding-left: 14px;
    }
    .card_3_image_container::after
    {
        display: block;
    }
    .card_3_article_meta
    {
        right: auto;
        left: 12px;
    }
    .episode_play_btn
    {
        top: 12px;
    }
    .card_3_sub, .card_3_extra
    {
        display: none !important;
    }
    .card_3_title a h4
    {
        font-size: 16px;
        font-weight: 500;
    }
    .latest_episodes_section
    {
        margin-top: 70px;
    }
    .card_3_article, .card_3_image_container
    {
        border-radius: 26px !important;
    }
    .card_3_article_meta
    {
        top: 9px;
        right: auto;
        left: 16px;
    }
    .card_3_article_meta span
    {
        font-size: 12px;
    }
    .button_container_latest
    {
        display: none !important;
    }
    .card_content_container
    {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 13px;
        padding-bottom: 18px;
        z-index: 2;
    }
    .card_3_title a h4
    {
        white-space: normal;
        line-height: 1.2;
    }
    .section_title_left
    {
        text-align: left;
        align-items: start !important;
    }
    .top_episodes
    {
        margin-top: 94px;
    }
    .button_container_latest
    {
        margin-top: 10px;
    }
    .logo_slider_container
    {
        margin-top: 30px;
    }
    .categories_container
    {
        margin-top: 27px;
        padding-left: 0;
        padding-right: 0;
    }
    .category
    {
        height: 40px;
        border-radius: 20px;
    }
    .category .btn_base
    {
        height: 40px !important;
        border-radius: 20px;
    }
    .category .btn_base span
    {
        font-size: 14px;
        line-height: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .top_episodes_article .row>*
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .card_2_content a h4
    {
        font-size: 18px;
    }
    .button_container_top
    {
        margin-top: 20px;
    }
    .howitworks_items_container
    {
        margin-top: 30px;
    }
    .stats_section_container
    {
        margin-top: 20px;
    }
    .card_2_article
    {
        margin-bottom: 16px;
    }
    .stats
    {
        margin-top: 92px;
    }
    .subscribe_content
    {
        border-bottom-right-radius: 100px;
    }
    .subscribe_content h2 img
    {
        width: 43px;
        height: 43px;
    }
    .subscribe_form
    {
        height: auto;
        border: none;
        overflow: visible;
        padding-left: 0;
    }
    .subscribe_input
    {
        width: 100%;
        height: 65px;
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        height: 64px;
        border: solid 2px #292b2f;
        border-radius: 36px;
        background-color: transparent;
        padding-left: 26px;
        padding-right: 26px;
        text-align: center;
    }
    .subscribe_input::-webkit-input-placeholder
    {
        text-align: center !important;
    }
    .subscribe_input:-moz-placeholder
    {
        text-align: center !important;
    }
    .subscribe_input::-moz-placeholder
    {
        text-align: center !important;
    } 
    .subscribe_input:-ms-input-placeholder
    { 
        text-align: center !important;
    }
    .subscribe_input::input-placeholder
    {
        text-align: center !important;
    }
    .subscribe_button
    {
        width: 100%;
        height: 65px;
        background-color: rgba(255,255,255,0.87);
        color: rgba(13,13,13,1);
        border-radius: 33px;
        margin-top: 12px;
        font-weight: 500;
    }
    .howitworks_img_container
    {
        height: calc((100vw - 32px) / 1.5188);
    }
    .howitworks_subtitle
    {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
    .howitworks_subtitle span
    {
        font-size: 15px;
    }
    .subscribe_form_container
    {
        width: calc(100% - 32px);
    }
    .stats_wide_container .stats_num
    {
        font-size: 80px;
    }
    .stats_half_container .stats_num
    {
        font-size: 52px;
    }
    .stats_container p
    {
        font-size: 16px;
        line-height: 1.75;
    }
    .stats_container
    {
        padding-left: 28px;
        height: calc((100vw - 50px) / 2);
        margin-bottom: 16px;
    }
    .stats_half_container
    {
        width: calc((100% - 16px) / 2);
    }
    .stats .row>*,
    .how_it_works .row>*
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .platforms
    {
        margin-top: 76px;
    }
    .mode_selection
    {
        margin-top: 26px;
    }
    .testimonial_info
    {
        margin-top: 16px;
    }
    /* Buttons */
    .btn_container .btn_base
    {
        height: 56px;
    }
    .header_search .btn_base
    {
        height: 44px;
    }
    .episode_play_btn_mic .btn_base
    {
        height: 48px;
    }
    .btn_base span, .btn_extra span
    {
        padding-left: 32px;
        padding-right: 32px;
        font-size: 14px;
    }
    .btn_fill .btn_base span
    {
        line-height: 54px;
    }
    .btn_stroke .btn_base span
    {
        line-height: 50px;
    }
    .btn_extra span
    {
        line-height: 54px;
    }
    .btn_container svg
    {
        width: 24px;
        height: 24px;
    }
    .category .btn_extra span
    {
        font-size: 14px;
        line-height: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer_outer
    {
        height: auto;
        padding-top: 37px;
        padding-bottom: 51px;
    }
    .footer_content
    {
        flex-direction: column !important;
    }
    .jp-play-bar > div
    {
        display: none;
    }
    .rights
    {
        position: relative;
        left: auto;
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        text-align: center;
        font-size: 13px;
    }
    .footer_social
    {
        position: relative;
        right: auto;
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .footer_social
    {
        margin-bottom: 5px;
    }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	.header.scrolled
    {
        height: 56px;
    }
    .stats_half_container
    {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
    .home_container
    {
        padding-top: 93px;
    }
    .home_btn, .home_btn .btn_base, .home_btn .btn_extra
    {
        width: 180px;
    }
    .home_content h1
    {
        font-size: 28px;
    }
    .home_image_container
    {
        margin-top: 32px;
    }
    .home_image_container .home_image
    {
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }
    .latest_episodes_container
    {
        width: 120%;
    }
    .card_3_article, .card_3_image_container
    {
        border-radius: 16px !important;
    }
    .card_content_container
    {
        padding-bottom: 11px;
    }
    .latest_episodes_section
    {
        margin-top: 47px;
    }
    .episode_play_btn .btn_base,
    .episode_play_btn .btn_extra
    {
        width: 44px !important;
        height: 44px !important;
    }
    .episode_image
    {
        border-radius: 16px;
    }
    .card_3_image_container::after
    {
        border-radius: 16px;
    }
    .episode_play_btn
    {
        right: 12px;
    }
    .section_title_left h2
    {
        font-size: 20px;
        font-weight: 500;
    }
    .platforms
    {
        margin-top: 76px;
    }
    .card_2_article
    {
        height: 88px;
        padding-right: 4px;
        border-radius: 16px;
    }
    .card_2_content a h4
    {
        font-size: 16px;
        font-weight: 500;
        margin-left: 0px;
        line-height: 1.2;
        margin-top: -4px;
    }
    .card_2_image
    {
        width: 56px;
        height: 56px;
        flex-basis: 56px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .card_2_content
    {
        padding-bottom: 0;
    }
    .card_2_sub
    {
        display: none !important;
    }
    .subscribe_content
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .pricing_plan_container
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .pricing_plan_price div
    {
        font-size: 52px;
    }
    .pricing_plan_price div:first-child
    {
        font-size: 24px;
        margin-top: 9px;
    }
    .stats_container
    {
        margin-bottom: 16px;
        min-height: 215px;
    }
    .stats_half_container
    {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .stats_category
    {
        top: 16px;
        right: 16px;
    }
    .stats_wide_container .stats_num
    {
        font-size: 64px;
    }
    .stats_half_container .stats_num
    {
        font-size: 40px;
    }
    .user
    {
        width: 72px;
        height: 72px;
        flex-basis: 72px;
    }
    .user > div
    {
        width: 56px;
        height: 56px;
    }
    .testimonials_user_info
    {
        margin-left: 16px;
    }
    .cta1_buttons
    {
        flex-direction: column !important;
    }
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
    .card_3_article_meta
    {
        top: 8px;
        left: 12px;
    }
	.users_row > div
    {
        flex-direction: column !important;
        text-align: center;
    }
    .users_content
    {
        margin-top: 10px;
    }
}

/************
14. 375px
************/

@media only screen and (max-width: 375px)
{
    h2
    {
        font-size: 28px;
    }
    .section_title p
    {
        font-size: 16px;
    }
    .page_section h2 img
    {
        height: 31px;
        margin-left: 14px;
        margin-top: -17px;
    }
    .card_content_container
    {
        padding-bottom: 11px;
        padding-left: 12px;
    }
	.latest_episode_title a h4
    {
        font-size: 20px;
    }
    .subscribe_content h2 img
    {
        width: 33px;
        height: 33px;
    }
    .stats_half_container
    {
        padding-left: 8px;
        padding-right: 8px;
    }
    .stats_half_container .stats_num
    {
        font-size: 40px;
    }
    .stats_wide_container .stats_num
    {
        font-size: 72px;
    }
    .stats_container p
    {
        margin-top: 7px;
    }
    .stats_half_container p
    {
        margin-top: 11px;
    }
}

/************
14. 360px
************/

@media only screen and (max-width: 360px)
{
    .howitworks_item_top span
    {
        margin-left: 12px;
        font-size: 16px;
    }
    .stats_half_container .stats_num
    {
        font-size: 36px;
    }
    .stats_container p
    {
        font-size: 15px;
    }
    .stats_half_container p
    {
        margin-top: 12px;
    }
    .users_content
    {
        padding-left: 20px;
    }
    .testimonial_content
    {
        padding-left: 24px;
        padding-right: 28px;
        padding-top: 28px;
        padding-bottom: 32px;
    }
    .testimonial_content p
    {
        font-size: 16px;
    }
    .testimonial_info
    {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .testimonial_user_pic
    {
        width: 60px;
        height: 60px;
        flex-basis: 60px;
    }
    .card_3_article
    {
        border-top-left-radius: 80px;
    }
    .card_3_image_container
    {
        border-bottom-right-radius: 80px;
        border-top-left-radius: 80px;
    }
}

/****************
480px height
****************/

@media only screen and (max-height: 480px)
{
    .home_container
    {
       padding-top: 89px;
    }
    .home_badge, .home_social_container, .home_content p
    {
        display: none !important;
    }
    .search_group_container
    {
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding-top: 101px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
    }
}